<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/stylesheets/style.css" />
	</head>
	<body>
		<div class="container">
			<header>
				<canvas id="c"></canvas>
			</header>
			<section class="main">
				<p class="counter">25300</p>
				<p class="message">Botellas han sido recogidas</p>
			</section>
			<aside class="newUpdate"><p>Sexoooo</p></aside>
		</div>
		<script src="../public/javascripts/matrixRain.js" />
	</body>
</html>
