extends layout

block content
  doctype html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='stylesheets/style.css')
  .container
    header
      H1 ITESCO PET MANAGER
    div.main
      p.counter#count= bottleCount.count
      p.message Botellas han sido recogidas
      aside.newUpdate
        h1 SEXOOOO
      
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/socket.js")
  script(src="javascripts/main.js")