@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
}

body {
	background: whitesmoke;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	overflow: hidden;
}

header {
	background: #58d68d;
}

header h1 {
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer {
	clear: both;
	float: left;
	margin-top: 20px;
	box-sizing: border-box;
	color: whitesmoke;
	background: #afaa1a;
	padding: 20px;
}
/* Contador */
.main {
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.counter {
	color: #a0ddff;
	text-align: center;
	position: relative;
	font-family: 'DotGothic16', sans-serif;
	font-size: 60px;
}
.message {
	color: green;
	text-align: center;
	position: relative;
	font-size: 30px;
}

/* Informacion al respecto */
.newUpdate {
	color: white;
	padding: 10px;
	width: 20%;
	/* box-sizing: border-box; */
	float: right;
}
.newUpdate h1 {
	color: black;
	text-align: center;
	position: relative;
}

/* Resize */
@media screen and (max-width: 768px) {
	.main {
		width: 100%;
	}
	aside {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.container {
		width: 100%;
	}
	.newUpdate {
		display: none;
	}
}
